-content_for :hero do
  %h1= @library.name
  %p
  %p
    %b Owned by:
    =@library.owner.display_name
  %p
    %b Description:
    =@library.description
  %p
    %b Location:
    =@library.location
  = link_to 'Edit', edit_library_path(@library)
  |
  \#{link_to 'Back', libraries_path}

-if current_user.library_ids.include? @library.id
  = form_for "", :url => add_book_library_path(@library), :html => {:id => 'add_book_form'} do |f|
    =f.label :isbn
    =f.text_field :isbn, :autofocus=> "autofocus" 
    =f.submit "Add Book"
= paginate library_books
- library_books.each_slice(3).each do |row|
  .row-fluid
    - row.each do |book|
      %div{:class => "span#{library_books.size < 3 ? 12/row.size : 4}"}
        %h3=book.title
        %p
          Authors:
          =book.authors
        %p
          Publisher:
          =book.publisher
        %p
          ISBN:
          =book.isbn
        %p
          ISBN13:
          =book.isbn13
